*.metadata
*.class
.metadata/*
.recommenders/*
console.txt
com.google.guava/.svn/
com.ibm.wala.cast/bin/
com.ibm.wala.cast.java/bin/
com.ibm.wala.core/bin/
com.ibm.wala.core.testdata/bin/
com.ibm.wala.core.tests/bin/
com.ibm.wala.eclipse/bin/
com.ibm.wala.ide/bin/
com.ibm.wala.ide.jdt/bin/
com.ibm.wala.shrike/bin/
com.ibm.wala.util/bin/
edu.tamu.cse.aser.d4/.DS_Store
edu.tamu.cse.aser.d4/bin/
edu.tamu.cse.aser.d4remote/.DS_Store
edu.tamu.cse.aser.d4remote/bin/
edu.tamu.cse.aser.benchmarks/bin/
libs.akka/bin/
com.ibm.wala.cast/.svn/
com.ibm.wala.cast.java/.svn/
com.ibm.wala.core/.svn/
com.ibm.wala.core.testdata/.svn/
com.ibm.wala.core.tests/.svn/
com.ibm.wala.eclipse/.svn/
com.ibm.wala.ide/.svn/
com.ibm.wala.ide.jdt/.svn/
com.ibm.wala.shrike/.svn/
com.ibm.wala.util/.svn/
edu.tamu.cse.aser.d4/.svn/
edu.tamu.cse.aser.d4remote/.svn/
RemoteSystemsTempFiles/
log_*
Eclipse.app/
jars/