<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.5"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="D4"
            id="edu.tamu.aser.tide.plugin.convert">
      </command>
      <command
            name="Ignore This Variable"
            id="edu.tamu.aser.tide.plugin.ignorevariable">
      </command>
      <command
            name="Consider This Variable"
            id="edu.tamu.aser.tide.plugin.considervariable">
      </command>
      <command
            name="Ignore This Method"
            id="edu.tamu.aser.tide.plugin.ignorefunction">
      </command>
      <command
            name="Consider This Method"
            id="edu.tamu.aser.tide.plugin.considerfunction">
      </command>
<!--      <command
            name="Trigger Incremental Check"
            id="edu.tamu.aser.tide.plugin.triggercheck">
      </command> -->
<!--      <command
            id="edu.tamu.aser.tide.plugin.echomode"
            name="D4 Mode">
      </command> -->
      
<!--      <command
            name="Ignore This Bug"
            id="edu.tamu.aser.tide.plugin.ignorebug">
      </command>-->
   </extension>

   <extension
         id="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScariest"
         name="FindBugs Problem (Scariest)"
         point="org.eclipse.core.resources.markers">
      <super type="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarker"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <super type="org.eclipse.jdt.core.problem"/>
      <persistent value="true"/>
   </extension>
      <!-- specify custom icon for findbugsMarker -->
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="edu.umd.cs.findbugs.plugin.eclipse.findbugsWarningAnnotationScariest"
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerType="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScariest"/>
      <type
            name="edu.umd.cs.findbugs.plugin.eclipse.findbugsWarningAnnotationScary"
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerType="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScary"/>
  </extension>
   <extension
      point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScariest"
            class="edu.tamu.aser.tide.engine.BugResolutionGenerator"/>
      <markerResolutionGenerator
            class="edu.umd.cs.findbugs.plugin.eclipse.quickfix.BugResolutionGenerator"
            markerType="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScary">
      </markerResolutionGenerator>
   </extension>
   <extension
      point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
         icon="icons/circle-running-icon.png"
         id="de.tobject.findbugs.imageprovider"
         markertype="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScariest">
      </imageprovider>
      <imageprovider
         icon="icons/lock-icon.png"
         id="de.tobject.findbugs.imageprovider"
         markertype="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScary">
      </imageprovider>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="edu.umd.cs.findbugs.plugin.eclipse.findbugsWarningAnnotationScariest"
            colorPreferenceKey="findbugs.scariest.color"
            colorPreferenceValue="212,6,28"
            icon="icons/circle-running-icon.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="findbugs.scariest.gotonext"
            label="FindBugs &apos;Scariest&apos; Warnings"
            overviewRulerPreferenceKey="findbugs.scariest.overview"
            overviewRulerPreferenceValue="true"
            quickFixIcon="icons/circle-running-icon.png"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="findbugs.scariest.goto"
            textPreferenceKey="findbugs.scariest.text"
            textPreferenceValue="true"
            textStylePreferenceKey="findbugs.scariest.textstyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="findbugs.scariest.vertical"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="edu.umd.cs.findbugs.plugin.eclipse.findbugsWarningAnnotationScary"
            colorPreferenceKey="findbugs.scary.color"
            colorPreferenceValue="248,77,06"
            icon="icons/lock-icon.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="findbugs.scary.gotonext"
            label="FindBugs &apos;Scary&apos; Warnings"
            overviewRulerPreferenceKey="findbugs.scary.overview"
            overviewRulerPreferenceValue="true"
            quickFixIcon="icons/lock-icon.png"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="findbugs.scary.goto"
            textPreferenceKey="findbugs.scary.text"
            textPreferenceValue="true"
            textStylePreferenceKey="findbugs.scary.textstyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="findbugs.scary.vertical"
            verticalRulerPreferenceValue="true"/>
   </extension>
   <extension point="org.eclipse.ui.editors.markerUpdaters">
          <updater
                id="edu.tamu.aser.tide.marker.RaceMarkerUpdater"
                class="edu.tamu.aser.tide.marker.RaceMarkerUpdater"
                markerType="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScariest">
          </updater>
          <updater
                id="edu.tamu.aser.tide.marker.DLMarkerUpdater"
                class="edu.tamu.aser.tide.marker.DLMarkerUpdater"
                markerType="edu.umd.cs.findbugs.plugin.eclipse.findbugsMarkerScary">
          </updater>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.tamu.aser.tide.plugin.convert"
            class="edu.tamu.aser.tide.plugin.handlers.ConvertHandler">
      </handler>
      <handler
            commandId="edu.tamu.aser.tide.plugin.ignorevariable"
            class="edu.tamu.aser.tide.plugin.handlers.IgnoreVariableHandler">
      </handler>
      <handler
            commandId="edu.tamu.aser.tide.plugin.considervariable"
            class="edu.tamu.aser.tide.plugin.handlers.IgnoreVariableHandler">
      </handler>
      <handler
      		commandId="edu.tamu.aser.tide.plugin.ignorefunction"
      		class="edu.tamu.aser.tide.plugin.handlers.IgnoreFunctionHandler">
      </handler>
      <handler
      		commandId="edu.tamu.aser.tide.plugin.considerfunction"
      		class="edu.tamu.aser.tide.plugin.handlers.IgnoreFunctionHandler">
      </handler>
      <handler
      		commandId="edu.tamu.aser.tide.plugin.triggercheck"
      		class="edu.tamu.aser.tide.plugin.handlers.TriggerCheckHandler">
      </handler>
<!--       <handler
      		commandId="edu.tamu.aser.tide.plugin.echomode"
      		class="edu.tamu.aser.tide.plugin.handlers.ChooseModeHandler">
      </handler> -->
<!--       <handler
            commandId="edu.tamu.aser.tide.plugin.ignorebug"
            class="edu.tamu.aser.tide.plugin.handlers.IgnoreBugHandler"> 
      </handler>-->
   </extension>
      
	<extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
        class="edu.tamu.aser.tide.plugin.MyPropTester"
           id="MyPropTesterMain"
           namespace="edu.tamu.aser.tide.plugin"
           properties="checkMain"
           type="org.eclipse.jdt.core.ICompilationUnit">
     </propertyTester>
   </extension>
   
   <!-- add another trigger button in the main toolbar-->
<!--    <extension point="org.eclipse.ui.menus">
      <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                  id="edu.tamu.aser.tide.plugin.toobarbutton">
               <command
                     commandId="edu.tamu.aser.tide.plugin.triggercheck"
                     icon="icons/runFindbugs.png"
                     id="toobarbutton1"
                     label="CHECK"
                     mode="FORCE_TEXT"
                     style="push"
                     tooltip="Run incremental detection">
               </command>
            </toolbar>
     </menuContribution>
     
     <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.tamu.cse.aser.echo.modebutton">
            <command
                  commandId="edu.tamu.aser.tide.plugin.echomode"
                  icon="icons/runFindbugs.png"
                  id="edu.tamu.aser.tide.plugin.echomodedropdown"
                  label="D4 MODE"
                  mode="FORCE_TEXT"
                  style="pulldown"
                  tooltip="Choose how D4 is triggered in Eclipse">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edu.tamu.aser.tide.plugin.echomodedropdown">
         <command
               commandId="edu.tamu.aser.tide.plugin.echomode"
               label="Cmd+Save Mode"
               style="push">
         </command>
         <command
               commandId="edu.tamu.aser.tide.plugin.echomode"
               label="Button Mode"
               style="push">
         </command>
      </menuContribution> 
   </extension> -->
  

<!-- add right click menu item to ignore a function -->
<extension point="org.eclipse.ui.menus">
   <menuContribution
	   allPopups="true"
	   locationURI="popup:org.eclipse.jdt.ui.outline?after=additions"> 
	   <menu label="D4">
		   <command commandId="edu.tamu.aser.tide.plugin.ignorefunction">
			  <visibleWhen
				checkEnabled="false">
				  <with variable="activeMenuSelection">
					<and>
					  <iterate ifEmpty="false" operator="or">
					  <or>
						  <instanceof
							value="org.eclipse.jdt.core.IMethod">
						  </instanceof>
					  </or>
					  </iterate>
					  </and>
				  </with>
			  </visibleWhen>
		   </command>
		   <command commandId="edu.tamu.aser.tide.plugin.considerfunction">
			  <visibleWhen
				checkEnabled="false">
				  <with variable="activeMenuSelection">
					<and>
					  <iterate ifEmpty="false" operator="or">
					  <or>
						  <instanceof
							value="org.eclipse.jdt.core.IMethod">
						  </instanceof>
					  </or>
					  </iterate>
					  </and>
				  </with>
			  </visibleWhen>
		   </command>
	   </menu>
   </menuContribution>
</extension>
   
<extension point="org.eclipse.ui.menus">
   <menuContribution
	   allPopups="true"
	   locationURI="popup:org.eclipse.jdt.ui.outline?after=additions"> 
	   <menu label="D4">
		   <command commandId="edu.tamu.aser.tide.plugin.ignorevariable">
			  <visibleWhen
				checkEnabled="false">
				  <with variable="activeMenuSelection">
					<and>
					  <iterate ifEmpty="false" operator="or">
					  <or>
						  <instanceof
							value="org.eclipse.jdt.core.IField">
						  </instanceof>
					  </or>
					  </iterate>
					  </and>
				  </with>
			  </visibleWhen>
		   </command>
		   <command commandId="edu.tamu.aser.tide.plugin.considervariable">
			  <visibleWhen
				checkEnabled="false">
				  <with variable="activeMenuSelection">
					<and>
					  <iterate ifEmpty="false" operator="or">
					  <or>
						  <instanceof
							value="org.eclipse.jdt.core.IField">
						  </instanceof>
					  </or>
					  </iterate>
					  </and>
				  </with>
			  </visibleWhen>
		   </command>
	   </menu>
   </menuContribution>
</extension>   

<extension 
        point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI= "popup:edu.tamu.aser.tide.views.echomenu?after=additions">
            <menu
                  label="D4 Bug Choice">
                  <command
                      commandId="edu.tamu.aser.tide.plugin.ignorevariable">
                  <visibleWhen
                    checkEnabled="false">
                      <with variable="activeMenuSelection">
                        <and>
                          <iterate ifEmpty="false" operator="or">
                          <or>
                              <instanceof
                                value="edu.tamu.aser.tide.views.RaceNode">
                              </instanceof>
<!--                              <instanceof
                                value="edu.tamu.aser.tide.views.DeadlockNode">
                              </instanceof>         -->
                              <instanceof
                                value="edu.tamu.aser.tide.views.RWRelationNode">
                              </instanceof>
                          </or>
                          </iterate>
                          </and>
                      </with>
                  </visibleWhen>
                  </command>
                  <command
                      commandId="edu.tamu.aser.tide.plugin.considervariable">
                  <visibleWhen
                    checkEnabled="false">
                      <with variable="activeMenuSelection">
                        <and>
                          <iterate ifEmpty="false" operator="or">
                          <or>
                              <instanceof
                                value="edu.tamu.aser.tide.views.RaceNode">
                              </instanceof>
<!--                              <instanceof
                                value="edu.tamu.aser.tide.views.DeadlockNode">
                              </instanceof>         -->
                              <instanceof
                                value="edu.tamu.aser.tide.views.RWRelationNode">
                              </instanceof>
                          </or>
                          </iterate>
                          </and>
                      </with>
                  </visibleWhen>
                  </command>
<!--                  <command
                      commandId="edu.tamu.aser.tide.plugin.ignorebug">
                  <visibleWhen
                    checkEnabled="false">
                      <with variable="activeMenuSelection">
                        <and>
                          <iterate ifEmpty="false" operator="or">
                          <or>
                              <instanceof
                                value="edu.tamu.aser.tide.views.RaceNode">
                              </instanceof>
                              <instanceof
                                value="edu.tamu.aser.tide.views.DeadlockNode">
                              </instanceof>
                          </or>
                          </iterate>
                          </and>
                      </with>
                  </visibleWhen>
                  </command>  -->
            </menu>
      </menuContribution>
    </extension> 

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="ASER">
            <command
                  commandId="edu.tamu.aser.tide.plugin.convert">
                  <visibleWhen
                  	checkEnabled="false">
                  		<with variable="activeMenuSelection">
                  			<and>
		                  	<count value="1"> </count>
                  				<iterate ifEmpty="false" operator="or">
                  						<adapt
                  							type="org.eclipse.core.resources.IResource">
                  							<test property="org.eclipse.core.resources.contentTypeId"
                  							value="org.eclipse.jdt.core.javaSource"/>
                  							<!-- org.eclipse.jdt.core.ICompilationUnit -->
                  							<!-- <test property="org.eclipse.core.resources.name"
                								value="*.java"/>-->
                							<!-- <test   forcePluginActivation="true"
            										property="edu.tamu.aser.tide.plugin.checkMain"
             										value="true">
     										</test>	-->
                  						</adapt>
                  				</iterate>
                  				</and>
                  		</with>
                  </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
      point="org.eclipse.ui.views">
        <view 
          id="edu.tamu.aser.tide.views.echoraceview"
          class="edu.tamu.aser.tide.views.EchoRaceView"
          icon="icons/circle-running-icon.png"
          name="D4 Race List" />
        <view 
          id="edu.tamu.aser.tide.views.echodlview"
          class="edu.tamu.aser.tide.views.EchoDLView"
          icon="icons/Lock-icon.png"
          name="D4 Deadlock List" />
        <view
		  class="edu.tamu.aser.tide.views.EchoReadWriteView"
		  icon="icons/parallel.png"
		  id="edu.tamu.aser.tide.views.echotableview"
		  name="D4 Concurrent Relations" />
<!--        <view 
		  id="edu.tamu.aser.tide.views.excludeview"
		  name="Excluded Packages/Classes/Methods"
		  class="edu.tamu.aser.tide.views.ExcludeView"
		  icon="icons/warning.png"/>   -->
   </extension>
   




</plugin>
